
<div ng-controller="registerUserController">
    <div>
        Login: <input type="text" ng-model="login" />
    </div>
    <div>
        Password: <input type="password" ng-model="password" />
    </div>
    <div>
        First name: <input type="text" ng-model="firstName" />
    </div>
    <div>
        Last name: <input type="text" ng-model="lastName" />
    </div>
    <input type="button" value="Register" ng-click="register()">
</div>